{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".tsx"]
      }
    ],
    // This may lead to more verbose code, but being able to easily see that a variable is
    // coming from props makes code more readable imo.
    "react/destructuring-assignment": 0
  },
  "settings": {
    // Prevent "unable to resolve path to module" errors.
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
